@using Stuffed_Animal_Shop.ViewModels.Filters;
@model IEnumerable<Stuffed_Animal_Shop.Models.Category>;

@{
    Filter filter = ViewBag.Filter;
}

<div class="navbar-nav w-100 overflow-hidden" style="height: 410px">
    @{
        foreach (Category category in Model)
        {
            <div>
                <span style="display: none;">@(filter.Category = category.CategoryId.ToString())</span>
                <a href="/shop?@filter.ToQueryString()" class="nav-item nav-link">@category.Name</a>
            </div>
        }
    }
</div>