<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
	<section>
		<div style="padding: 4px; background-color: lightblue">
			<div style="display: flex; justify-content: center; align-items: center;">
				<div>
					<h2 style="font-size: 18px;">I have recieved your request, thank you 😂 </h2>
					<p>Enter this password to enter website: {0}</p>
				</div>
			</div>
		</div>
	</section>
</body>
</html>