@{
	ViewData["Title"] = "Profile";
}

@{
	ViewData["HideHero"] = true;
}
@using Stuffed_Animal_Shop.ViewModels.Users;
@model UserEdit
<div class="container-xl px-4 mt-5">
	<form asp-controller="Profile" asp-action="Index" method="post" enctype="multipart/form-data">
		<div class="row">
			<div class="col-xl-4">
				<!-- Profile picture card-->
				<div class="card mb-4 mb-xl-0">
					<div class="card-header">Profile Picture</div>
					<div class="card-body text-center">
						<label asp-for="Avatar" class="control-label"></label>
						<input asp-for="Avatar" type="file" class="form-control" />
						<span asp-validation-for="Avatar" class="text-danger"></span>
					</div>
				</div>
			</div>
			<div class="col-xl-8">
				<!-- Account details card-->
				<div class="card mb-4">
					<div class="card-header">Account Details</div>
					<div class="card-body">
						<input asp-for="UserId" type="hidden" />
						<!-- Form Group (username)-->
						<div class="mb-3">
							<label asp-for="Name" class="small mb-1"></label>
							<input asp-for="Name" class="form-control">
							<span asp-validation-for="Name" class="text-danger font-weight-bold"></span>
						</div>
						<!-- Form Row-->
						<div class="row gx-3 mb-3">
							<!-- Form Group (first name)-->
							<div class="col-md-6">
								<label asp-for="Email" class="small mb-1"></label>
								<input asp-for="Email" class="form-control">
								<span asp-validation-for="Email" class="text-danger font-weight-bold"></span>
							</div>
							<!-- Form Group (last name)-->
							<div class="col-md-6">
								<label asp-for="PhoneNumber" class="small mb-1"></label>
								<input asp-for="PhoneNumber" class="form-control">
								<span asp-validation-for="PhoneNumber" class="text-danger font-weight-bold"></span>
							</div>
						</div>
						<!-- Form Group (username)-->
						<div class="mb-3">
							<label asp-for="Address" class="small mb-1"></label>
							<input asp-for="Address" class="form-control">
							<span asp-validation-for="Address" class="text-danger font-weight-bold"></span>
						</div>
						<!-- Save changes button-->
					</div>
				</div>
			</div>
		</div>
		<button class="btn btn-primary" type="submit">Save changes</button>
	</form>
</div>