@model IEnumerable<Stuffed_Animal_Shop.Models.Product>

@{
    ViewData["Title"] = "Shop";
    ViewData["Hero"] = "Shop";
}

<!-- Shop Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <!-- Shop Sidebar Start -->
        <div class="col-lg-3 col-md-12">
            <form method="get" asp-controller="Shop" asp-action="Index">
                <!-- Price Start -->
                <div class="border-bottom mb-4 pb-4">
                    <h5 class="font-weight-semi-bold mb-4">Filter by price</h5>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" checked id="price-all" name="Prices" value="all">
                            <label class="custom-control-label" for="price-all">All Price</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="price-1" name="Prices" value="100">
                            <label class="custom-control-label" for="price-1">$0 - $100</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="price-2" name="Prices" value="200">
                            <label class="custom-control-label" for="price-2">$100 - $200</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="price-3" name="Prices" value="300">
                            <label class="custom-control-label" for="price-3">$200 - $300</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="price-4" name="Prices" value="400">
                            <label class="custom-control-label" for="price-4">$300 - $400</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                            <input type="checkbox" class="custom-control-input" id="price-5" name="Prices" value="500">
                            <label class="custom-control-label" for="price-5">$400 - $500</label>
                        </div>
                    </div>
                </div>
                <!-- Price End -->
                <!-- Color Start -->
                <div class="border-bottom mb-4 pb-4">
                    <h5 class="font-weight-semi-bold mb-4">Filter by color</h5>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" checked id="color-all" name="Colors" value="all">
                            <label class="custom-control-label" for="color-all">All Color</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="color-1" name="Colors" value="white">
                            <label class="custom-control-label" for="color-1">White</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="color-2" name="Colors" value="red">
                            <label class="custom-control-label" for="color-2">Red</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="color-3" name="Colors" value="green">
                            <label class="custom-control-label" for="color-3">Green</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="color-4" name="Colors" value="blue">
                            <label class="custom-control-label" for="color-4">Blue</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="color-5" name="Colors" value="yellow">
                            <label class="custom-control-label" for="color-5">Yellow</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="color-6" name="Colors" value="purple">
                            <label class="custom-control-label" for="color-6">Purple</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="color-7" name="Colors" value="orange">
                            <label class="custom-control-label" for="color-7">Orange</label>
                        </div>
                    </div>
                </div>
                <!-- Color End -->
                <!-- Size Start -->
                <div class="mb-5">
                    <h5 class="font-weight-semi-bold mb-4">Filter by size</h5>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" checked id="size-all" name="Sizes" value="all">
                            <label class="custom-control-label" for="size-all">All Size</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="size-1" name="Sizes" value="SM">
                            <label class="custom-control-label" for="size-1">SM</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="size-2" name="Sizes" value="M">
                            <label class="custom-control-label" for="size-2">M</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="size-3" name="Sizes" value="L">
                            <label class="custom-control-label" for="size-3">L</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="size-4" name="Sizes" value="XL">
                            <label class="custom-control-label" for="size-4">XL</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                            <input type="checkbox" class="custom-control-input" id="size-5" name="Sizes" value="XXL">
                            <label class="custom-control-label" for="size-5">XXL</label>
                        </div>
                    </div>
                </div>
                <!-- Size End -->
                <!-- Action button Start -->
                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <input type="submit" class="btn btn-primary" />
                </div>
                <!-- Action button End -->
            </form>
        </div>


        <!-- Shop Sidebar End -->
        <!-- Shop Product Start -->
        <div class="col-lg-9 col-md-12">
            <div class="row pb-3">
                <div class="col-12 pb-1">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <form action="">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search by name">
                                <div class="input-group-append">
                                    <span class="input-group-text bg-transparent text-primary">
                                        <i class="fa fa-search"></i>
                                    </span>
                                </div>
                            </div>
                        </form>
                        <!-- Sort start -->
                        <div class="dropdown ml-4">
                            <button class="btn border dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                Sort by
                            </button>
                            <form asp-controller="Shop" asp-action="Index" role="group" method="get">
                                <div class="dropdown-menu" style="text-align: center;" aria-labelledby="triggerId">
                                    <button class="btn btn-outline-primary" style="border: none; border-radius:10px;" type="submit" name="Sort" value="latest">Latest</button>
                                    <button class="btn btn-outline-primary" style="border: none; border-radius:10px;" type="submit" name="Sort" value="best_rating">Best Rating</button>
                                    <button class="btn btn-outline-primary" style="border: none; border-radius:10px;" type="submit" name="Sort" value="cheap">Cheap to expensive</button>
                                    <button class="btn btn-outline-primary" style="border: none; border-radius:10px;" type="submit" name="Sort" value="expensive">Expensive to cheap</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                @foreach(var item in Model)
                {
                    <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                        <div class="card product-item border-0 mb-4">
                            <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                <img class="img-fluid" style="max-width: 100%; object-fit: cover;" src="@item.MainImage" alt="">
                            </div>
                            <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                <h6 class="text-truncate mb-3">@item.Name</h6>
                                <div class="d-flex justify-content-center">
                                    <h6>$@item.Price</h6>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-between bg-light border">
                                <a href="/shop/detail/@item.ProductId" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                                <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                            </div>
                        </div>
                    </div>           
                }
             
                <div class="col-12 pb-1">
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center mb-3">
                            @if (ViewBag.TotalPages > 0)
                            {
                                @if (ViewBag.Page > 1)
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="?page=1">First</a>
                                    </li>
                                }

                                @for (int i = Math.Max(1, ViewBag.Page - 2); i <= Math.Min(ViewBag.TotalPages, ViewBag.Page + 2); i++)
                                {
                                    <li class="page-item @(i == ViewBag.Page ? "active" : "")">
                                        <a class="page-link" href="?page=@i">@i</a>
                                    </li>
                                }

                                @if (ViewBag.Page < ViewBag.TotalPages)
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="?page=@ViewBag.TotalPages">Last</a>
                                    </li>
                                }
                            }
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
        <!-- Shop Product End -->
    </div>
</div>
<!-- Shop End -->