@{
    Layout = "_AuthLayout";
}

@using Stuffed_Animal_Shop.ViewModels;
@model ForgotPassword;


<section class="d-flex vh-100 justify-content-center" style="background-color: #9A616D;">
    <div class="d-flex align-items-center">
        <div class="py-4 px-3 bg-white" style="width: 500px; height: 300px;">
            <h1 style="font-size: 32px;">Forgot password</h1>

            <form asp-action="forgotpassword" class="mt-4 d-flex flex-column align-items-center">
                <div class="position-relative">
                    <label for="Email" class="form-label text-black">Email address</label>
                    <input type="text" asp-for="Email" class="form-control border-2" style="width: 300px; border-color: gray" id="Email" placeholder="name@example.com">
                    <span asp-validation-for="Email" class="text-danger position-absolute bottom-0 translate-middle-y top-100" style="font-size: 12px">
                        @if (TempData["Error"] != null)
                        {
                            @TempData["Error"]
                        }
                    </span>
                </div>

                <div class="d-flex gap-2 mt-4">
                    <button type="submit" class="btn btn-primary mt-3 text-white" >Get password</button>
                    <button type="button" class="btn btn-secondary mt-3 text-black">
                        <a href="/users/login" class="text-decoration-none">Back</a>
                    </button>
                </div>

                
            </form>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
