@using Stuffed_Animal_Shop.ViewModels.Products;
@model CreateProduct;

@{
    Layout = "_AdminLayout";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Sizes:</label>
                <div class="checkbox d-flex gap-4">
                    <label>
                        <input type="checkbox" name="Sizes" value="SM" />
                        SM
                    </label>
                    <label>
                        <input type="checkbox" name="Sizes" value="M" />
                        M
                    </label>
                    <label>
                        <input type="checkbox" name="Sizes" value="L" />
                        L
                    </label>
                    <label>
                        <input type="checkbox" name="Sizes" value="XL" />
                        XL
                    </label>
                    <label>
                        <input type="checkbox" name="Sizes" value="XXL" />
                        XXL
                    </label>
                </div>
                <span asp-validation-for="Sizes" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Colors:</label>
                <div class="checkbox d-flex gap-4" style="width: 600px;">
                    <label>
                        <input type="checkbox" name="Colors" value="red" />
                        Red
                    </label>
                    <label>
                        <input type="checkbox" name="Colors" value="blue" />
                        Blue
                    </label>
                    <label>
                        <input type="checkbox" name="Colors" value="green" />
                        Green
                    </label>
                    <label>
                        <input type="checkbox" name="Colors" value="yellow" />
                        Yellow
                    </label>
                    <label>
                        <input type="checkbox" name="Colors" value="purple" />
                        Purple
                    </label>
                    <label>
                        <input type="checkbox" name="Colors" value="orange" />
                        Orange
                    </label>
                    <label>
                        <input type="checkbox" name="Colors" value="white" />
                        White
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MainImage" class="control-label"></label>
                <input asp-for="MainImage" type="file" class="form-control" />
                <span asp-validation-for="MainImage" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Images" class="control-label"></label>
                <input asp-for="Images" type="file" multiple class="form-control" />
                <span asp-validation-for="Images" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
